.content{
    position: absolute;
    left: 100px;
    top: 25vh;
    
}


h1.name{
    font-size: 56px;
    font-weight: 600;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

h1.surname{
    text-transform: uppercase;
    font-size: 56px;
    text-align: left;
    font-weight:lighter;
    letter-spacing: 1.8em;
}

.name{
    position: absolute;
}
.surname{
    position: absolute;
    top:36px;
}

p{
    font-size: 28px;
line-height: 1.1428571429;
font-weight: 600;
letter-spacing: .007em;
}

.row1{
    width: 100vw;
    height: 100vh;
}