@font-face { font-family: Karla; src: url('Karla-Regular.ttf'); } 

html{
  scroll-behavior: smooth;
  font-family: Karla;
}
body{
  background-image: radial-gradient(circle at center center, transparent,rgb(255,255,255)),repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 12px,transparent 12px, transparent 19px,rgb(255,255,255) 19px, rgb(255,255,255) 24px,transparent 24px, transparent 28px),repeating-linear-gradient(45deg, rgb(245,245,245) 0px, rgb(245,245,245) 7px,transparent 7px, transparent 14px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

section#HOME{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 10vh;
}
section#HOME h1{
  font-size:70px;
}
section#ABOUT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color:#17181c;
    position: relative;
    text-decoration: none;
}
section#STATS {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100vw;
}
section#WORK {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}
section#CONTACT a,section#ABOUT a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color:#17181c;
    position: relative;
    text-decoration: none;
    padding-top: 1em;
    }
section#CONTACT a i,section#ABOUT a i{
padding-right: 1vw;
padding-left: 1vw;
  }
section#CONTACT a:hover,section#ABOUT a:hover {
      opacity : 0.5
    }
h1 {
color: #17181c;
font-size: 24px;
}
p  {
color: #17181c;
font-size: 16px;
text-align: left;
justify-content: left;
}

/** Hover-related CSS **/
#examples {
display: flex;
flex-flow: row;
max-width: 100%;
background-color: transparent;
padding: 5px;
margin: 0 auto 0px;
z-index:1;
position: fixed;
top: 0;
right: 15px;
width: 100%;
justify-content: right;
}

#examples a {
    color:#17181c;
    font-weight: bolder;
}
#examples .example {
display: flex;
flex-flow: row nowrap;
align-items: center;
margin: 0 0 0px;
font-size: 16px;

}
#examples .example .hover {
text-align: center;
margin: 2px auto;
padding: 5px;
transition: all 0.2s ease-in-out;
position: relative;
text-decoration: none;
}
#examples .example .hover:before, #examples .example .hover:after {
content: "";
position: absolute;
bottom: -2px;
width: 0px;
height: 2px;
margin: 5px 0 0;
transition: all 0.1s ease-in-out;
transition-duration: 0.5s;
opacity: 0;
background-color: #17181c;
}
#examples .example .hover.hover-1:before, #examples .example .hover.hover-1:after {
left: 0;
}

#examples .example:hover .hover:before, #examples .example:hover .hover:after {
width: 100%;
opacity: 1;
}
