@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --background : 255 255 255;
    --text : 0 0 0;
    --accent:31 138 255;
    --question-bg:31 138 255;
    --answer-bg : 235 235 235;
    --outline : 25 25 25;
}

@media (prefers-color-scheme: dark) {
    :root{
        --background : 0 0 0;
        --text : 255 255 255;
        --accent:31 138 255;
        --question-bg:31 138 255;
        --answer-bg : 235 235 235;
    }   
}

html{
    display: flex;
}
body{
    background-color: rgb(var(--background));
    display: flex;
    padding:10px;
    text-align: justify;
}

.title{
    font-family:'Times New Roman', Times, serif;
    color:rgb(var(--text));
}

.hamburger{
    display:none;
}

.caroussel{
    display:flex;
    flex-direction: row;
    gap:1rem;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    padding:10px;
}

.caroussel img{
    width:80%;
    scroll-snap-align: center;
}


.content{
    font-family: 'Inter', serif;
    grid-column: 2 / 15;
    font-size:medium;
}

.readingHighlight{
    color: rgb(var(--text));;
}

.ctaContainer{
    display:flex;
    flex-direction: row;
    gap:1rem;
    width:100%;
    overflow:hidden;
}

.cta{
    text-decoration: none;
    border:none;
    background:rgb(var(--accent));
    color:rgb(var(--background));
    font-family:'Times New Roman', Times, serif;
    padding: 1em;
    width:10rem;
    border-radius: 12px;
    flex-shrink: 0;
}

.number{
    border:none;
    background:lightgray;
    padding: 1em;
    border-radius: 12px;
    width:100%;
    display:none;
}

.open_animation{
    display:flex;
    flex-shrink: 3;
    animation-name: open;
    animation-duration: 1s ;
}


/* The animation code */
@keyframes open {
    from {width: 0%;}
    to {width: 100%;}
}

.footer{
    height: 1000px;
}


.chat{
    align-self: flex-end;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    gap:10px;
}

.discussion{
    line-height: 25px;
    padding-right:10px;
    display:flex;
    flex-direction: column;
    gap:10px;
    scroll-behavior: smooth;
    text-align: left;
    overflow: auto;
}

.question{
    max-width: 75%;
    color:white;
    background:rgb(var(--question-bg));
    border-radius: 20px 20px 0px 20px;
    display:flex;
    width:fit-content;
    padding: 0 1em;
    margin: 0 0 0 auto;
}


.answer{
    max-width: 75%;
    color:black;
    background:rgb(var(--answer-bg));
    border-radius: 20px 20px 20px 0px;
    display:flex;
    width:fit-content;
    padding: 0 1em;
    margin: 0;
}


.send-message{
    display:flex;
    background:rgb(var(--background));
    outline: solid 1px rgb(var(--outline));
    align-items: center;
    padding:10px;
    border-radius: 10px;
}

.send-message .text-input{
    text-align: justify;
    padding: 0;
    max-height: 240px;
    line-height: 24px;
    height: auto;
    flex:1;
    resize: none;
    border:none;
    background:none;
    outline:none;
}

.send-message .send-btn{
    border:none;
    background:none;
    padding: 0 1em;
    font-size:medium;
    stroke:rgb(var(--text));
    stroke-width: 2px;
}

.loader {
    position: relative;
    margin-left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    animation: loading 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.loader::before, .loader::after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 0;
}

.loader::before {
    left: -15px;
    border-radius: 5px;
    animation: loading 1s infinite alternate;
    animation-delay: 0s;
}

.loader::after {
    left: 15px;
    border-radius: 5px;
    animation: loading 1s infinite alternate;
    animation-delay: 1s;
}


@keyframes loading {
    0% {
        background: rgb(var(--accent));
    }
    50%, 100% {
        background: rgba(var(--accent) 0.1);
    }
}