body{
    background-color: #fff;
    font-family: Verdana;
}

.header{ 
    position: fixed;
    top: 50px;
    right: 50px;
    height: 25px;
    font-size: 18px; 
}

a:link, a:visited{
    text-transform: uppercase;
    font-weight: bold;
    color: #888;
    text-decoration: none;
    margin: 25px;
}

a:hover{
    color: #000;
    transition: 1s;
}

footer{
    position: relative;
}